/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-qa-questions-and-answers {
	border: 1px dotted #f00;
}

.matching-columns {
	margin-top: 50px;
	padding-right: 25px;

	&__item {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin-top: 30px;
		position: relative;
		border: 1px dotted #999999;
		padding: 10px;

		&--col {
			width: calc(50% - 5px);
			padding: 10px;
			border: 1px dotted #999999;

			&.delete {
				position: absolute;
				right: -25px;
				top: -35px;
				width: 25px;
				height: 25px;
				border: 0 dashed transparent;

				button {
					padding: 0;
				}
			}

			.choice {
				border-bottom: 0 solid transparent;
				position: relative;
				padding-bottom: 10px;

				&__controls {
					text-align: right;
					border-bottom: 0 solid transparent;

					button {
						position: absolute;
						top: 0;
						right: 0;
						background-color: transparent;
						color: #999999;
						width: 35px;
						height: 33px;

						&:hover {
							background-color: transparent !important;
							color: rgba(#999999, 0.6) !important;
						}
					}
				}
			}
		}
	}
}
