/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-qa-multiple-choice {
	.components-card {
		&__header {
			h3 {
				font-size: 28px;
				margin: 10px 0;
			}
		}
	}

	.qa-repeated__item {
		display: flex;

		&--close {
			opacity: 0.6;
		}
	}

	.qa-multiple-choices {
		h3 {
			font-size: 20px;
		}
	}
}
